@{
    ViewData["Title"] = "Inicio";
}

<div class="container text-center mt-5">
    <h1 class="mb-4">Sistema de Inventario</h1>
    <p class="mb-4">Gestion de inventario de zapatos</p>

    <a asp-controller="Inventarios"
       asp-action="Index"
       class="btn btn-primary btn-lg">
        Ir al Inventario
    </a>

    <a asp-controller="Clientes"
       asp-action="Index"
       class="btn btn-primary btn-lg">
        Ir a Clientes
    </a>

    <a asp-controller="Proveedores"
       asp-action="Index"
       class="btn btn-primary btn-lg">
        Ir a Proveedores
    </a>

</div>
